<div id="header" class="header">
    <div class="wrapper">
        <div class="header__container">
            <a href="index.html" class="header__logo">
                <img src='static/img/content/logo.png' alt='картинка'>
            </a>
            <div class="header__menu">
                <a href="$">Продукция</a>
                <a href="$">О Крепелатьер</a>
                <a href="$">Рецепты</a>
                <a href="$">Дистрибьюция</a>
                <a href="$">Контакты</a>
            </div>
            <div class="header__lang header__lang-mobile">
                <span>RU</span>
                {{Icon iconName="lang-arrow"}}
                <div class="header__lang-drop">
                    <img src='static/img/content/list-lang.png' alt='картинка'>
                    <a href="#">EN</a>
                    <a href="#">es</a>
                    <a href="#">de</a>
                    <a href="#">he</a>
                    <a href="#">fr</a>
                    <a href="#">zh</a>
                </div>
            </div>

            <div class="header__mobile">
                <div class="header__mobile-icon">
                    {{Icon iconName="menu"}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header__mobile-pop">
    <div class="header__mobile-top">
        <div class="header__mobile-close">
            {{Icon iconName="close"}}
        </div>
        <div class="header__lang">
            <span>RU</span>
            {{Icon iconName="lang-arrow"}}
            <div class="header__lang-drop">
                <img src='static/img/content/list-lang.png' alt='картинка'>
                <a href="#">EN</a>
                <a href="#">es</a>
                <a href="#">de</a>
                <a href="#">he</a>
                <a href="#">fr</a>
                <a href="#">zh</a>
            </div>
        </div>
    </div>
    <div class="header__mobile-menu">
        <a href="#">Продукция</a>
        <a href="#">О Крепелатьер</a>
        <a href="#">Рецепты</a>
        <a href="#">Дистрибьюция</a>
        <a href="#">Контакты</a>
    </div>
</div>
{{> pageNav/pageNav}}

<div id="toTop">
    {{Icon iconName="slider-arrow"}}
</div>